@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
  background-color: #f8a5b9;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Merriweather', serif;
}


.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.title--home {
  color: #dc2549;
  font-size: 50px;
}

.title--signup {
  color: #dc2549; 
}

.btn--signup, .btn--submit {
  background-color: #dc2549;
  color: whitesmoke;
  font-size: 18px;
  border: none;
  padding: 1rem;
  align-self: center;
  margin: 1rem;
  border-radius: 6px;
}

.menu {
  max-width: 20rem;
  position: fixed;
}

.menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.list__item {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.menu__btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color:#dc2549;
  width: 5rem;
  height: 5rem;
  color: whitesmoke;
  font-size: 36px;
  margin: 1rem;
}

.dropdown {
  background-color: #dc2549;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 50vh;
  padding: 1rem;
  width: fit-content;
  border: 3px solid #dc2549;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #dc2549;
  font-family: sans-serif;
}

.form__title {
  font-family: 'Merriweather', serif;
}

.btn--container {
  text-align: right;
}

.btn--exit {
  border: none;
  background-color: transparent;
  color: #dc2549;
  font-size: 22px;
  cursor: pointer;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.btn--submit:hover {
  transform: scale(1.2);
  cursor: pointer;
}