body {
  background-color: #f8a5b9;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title--home {
  color: #dc2549;
}

.title--signup {
  color: #dc2549; 
}

.btn--signup {
  background-color: #dc2549;
  color: whitesmoke;
  border: none;
  height: 40px;
  width: 100px;
  align-self: center;
  margin: 1rem;
  border-radius: 6px;
}

.menu {
  max-width: 20rem;
  position: fixed;
}

.menu__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

.list__item {
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.menu__btn {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color:#dc2549;
  width: 5rem;
  color: whitesmoke;
}

.dropdown {
  background-color: #dc2549;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40vh;
  padding: 1rem;
  width: fit-content;
  border: 3px solid #dc2549;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form__label {
  display: flex;
  flex-direction: column;
}

.btn--submit {
  background-color: #dc2549;
  color: whitesmoke;
  border: none;
  height: 40px;
  width: 80px;
  align-self: center;
  margin: 1rem;
  cursor: pointer;
}